<ion-view view-title="Registration" name="resgistration-view">
  <ion-content class="padding">
  <form name="myForm">
      <div class="list list-inset">
                <label class="item item-input">
                    
                    <input type="text" placeholder="First name" ng-model="data.firstName" ng-required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last name" ng-model="data.lastName" ng-required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-email"></i>
                    <input type="email" placeholder="E-mail"  ng-model="data.email" ng-required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Zip Code" pattern="\d*" ng-model="data.zip" ng-required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked"></i>
                    <input type="password" placeholder="Password" name="data.password" ng-model="data.password" ng-required>
                </label>
                 <label class="item item-input">
                    <i class="icon ion-locked"></i>
                    <input type="password" placeholder="Re-enter Password" name="data.Repassword" ng-model="data.Repassword" ng-required pw-check="data.password">
                </label>

                <div class="msg-block" ng-show="myForm.$error">
  <span class="msg-error" ng-show="myForm.data.Repassword.$error.pwmatch">
    Passwords don't match.
  </span>
</div>
</form>
            </div>
      <button class="button button-block button-calm" ng-click="register()">Create an account</button>
  </ion-content>
</ion-view>

